[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EMSC"]
	path = EMSC
	url = https://github.com/khliland/emsc
[submodule "ER"]
	path = ER
	url = https://github.com/khliland/er
[submodule "HDANOVA"]
	path = HDANOVA
	url = https://github.com/khliland/hdanova
[submodule "MatrixCorrelation"]
	path = MatrixCorrelation
	url = https://github.com/khliland/matrixcorrelation
[submodule "RcmdrPlugin.NMBU"]
	path = RcmdrPlugin.NMBU
	url = https://github.com/khliland/rcmdrplugin.nmbu
[submodule "baseline"]
	path = baseline
	url = https://github.com/khliland/baseline
[submodule "fixedTimeEvents"]
	path = fixedTimeEvents
	url = https://github.com/khliland/fixedtimeevents
[submodule "gemR"]
	path = gemR
	url = https://github.com/khliland/gemr
[submodule "mixlm"]
	path = mixlm
	url = https://github.com/khliland/mixlm
[submodule "multiblock"]
	path = multiblock
	url = https://github.com/khliland/multiblock
[submodule "pls"]
	path = pls
	url = https://github.com/khliland/pls
[submodule "plsVarSel"]
	path = plsVarSel
	url = https://github.com/khliland/plsvarsel
